@import '../../Variables.scss';

.chess-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    @include for-desktop-up {
        max-height: 70%;
    }
    .chess {
        position: relative;
        width: 100%;
        box-shadow: 0 0 10px darken($white, 30%);
        border-radius: 10px;
        .tiles {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            justify-items: stretch;
            .tile {
                position: relative;
                cursor: pointer;
                box-sizing: border-box;
                min-height: 35px;
                min-width: 35px;
                max-height: 100px;
                height: 100%;
                width: 100%;
                @include for-tablet-portrait-up {
                    min-height: 60px;
                    min-width: 60px;
                }
                @mixin for-tablet-landscape-up {
                    min-height: 80px;
                    min-width: 80px;
                }
                @include for-desktop-up {
                    max-width: 90px;
                    max-height: 90px;
                    height: 100%;
                    width: 100%;
                }
                &.dark {
                    background-color: darken($board-dark, 2%);
                    box-shadow: 0 0 30px darken($board-dark, 5%) inset;
                    &:hover {
                        background-color: lighten($board-dark, 5%);
                    }
                }
                &.light {
                    background-color: lighten($board-light, 10%);
                    &:hover {
                        background-color: lighten($board-light, 5%);
                    }
                }
                &:first-child {
                    border-top-left-radius: 10px;
                    &:after { border-top-left-radius: 10px; }
                }
                &:nth-child(8) {
                    border-top-right-radius: 10px;
                    &:after { border-top-right-radius: 10px; }
                }
                &:last-child {
                    border-bottom-right-radius: 10px;
                    &:after { border-bottom-right-radius: 10px; }
                }
                &:nth-child(57) {
                    border-bottom-left-radius: 10px;
                    &:after { border-bottom-left-radius: 10px; }
                }
                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                .chess-piece {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    top: 0;
                    padding: 15%;
                    box-sizing: border-box;
                    z-index: 3;
                    cursor: pointer;
                    // @include transition(0.5s ease-in-out);
                    &:not(.opponent) {
                        cursor: grab;
                    }
                    &.moving {
                        opacity: 0.3;
                    }
                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
                &:after {
                    content: '';
                    pointer-events: none;   
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    opacity: 0;
                    z-index: 1;
                    background-color: rgba(56, 56, 56, 0.637);
                }
                .interact-icon {
                    pointer-events: none;   
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    z-index: 6;
                }
                &.CASTLE {
                    &.valid-tile {
                        .interact-icon {
                            box-sizing: border-box;
                            background: url(../../img/chess-castling.svg) left center no-repeat;
                            vertical-align: middle;
                            background-size: 100% 60%;
                        }
                    }
                }
                &.BATTLE {
                    &.valid-tile {
                        .interact-icon {
                            box-sizing: border-box;
                            background: url(../../img/chat-blades.svg) bottom right no-repeat;
                            vertical-align: middle;
                            background-size: 50% 50%;
                            z-index: 10;
                        }
                    }
                }
            }
        }
        &.turn-user {
            .tile {
                &.dark {
                    .chess-piece:not(.opponent) {
                        &.has-moves {
                            animation: glowz-for-dark 2s linear infinite;
                        }
                    }
                }
                &.light {
                    .chess-piece:not(.opponent) {
                        &.has-moves {
                            animation: glowz-for-light 2s linear infinite;
                        }
                    }
                }
            }
        }
        &.overlay {
            .tiles {
                .tile {
                    &.valid-tile {
                        position: relative;
                        z-index: 0;
                        overflow: hidden;
                        &:after {
                            opacity: 1;
                        }
                        &::before {
                            content: '';
                            box-sizing: border-box;
                            position: absolute;
                            z-index: -2;
                            left: -50%;
                            top: -50%;
                            width: 200%;
                            height: 200%;
                            background-color: $board-light;
                            background-repeat: no-repeat;
                            background-size: 50% 50%, 50% 50%;
                            background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                            animation: rotate 1s linear infinite;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            box-sizing: border-box;
                            z-index: -1;
                            left: 2px;
                            top: 2px;
                            width: calc(100% - 5px);
                            height: calc(100% - 5px);
                        }
                        &.light {
                            &::before {
                                background-color: $board-light;
                                background-image: linear-gradient(lighten($board-light, 40%), $board-light), linear-gradient(lighten($board-light, 40%), $board-light);
                            }
                            &::after {
                                background-color: lighten($board-light, 10%);
                            }
                        }
                        &.dark {
                            &::before {
                                background-color: $board-dark;
                                background-image: linear-gradient(lighten($board-dark, 40%), $board-dark), linear-gradient(lighten($board-dark, 40%), $board-dark);
                            }
                            &::after {
                                background-color: darken($board-dark, 2%);
                            }
                        }
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
        .hand {
            display: none;
            position: absolute;
            height: 70px;
            width: 70px;
            pointer-events: none;
            z-index: 4;
            transition: 0.5s transform;
            transform: rotate(0deg);
            transform-origin: top center;
            &.left {
                transform: rotate(-45deg);
            }
            &.right {
                transform: rotate(45deg);
            }
            svg {
                height: 100%;
                width: 100%;
                filter: drop-shadow( 10px 10px 5px rgba(0, 0, 0, .7));
            }
        }
        legend {
            position: absolute;
            text-align: center;
            display: flex;
            color: $board-dark;
            font-size: 12px;
            &.x {
                width: 10px;
                top: 0;
                left: -30px;
                height: 100%;
                flex-direction: column;
                > div {
                    display: block;
                    position: relative;
                    flex-grow: 1;
                    span {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
            }
            &.y {
                height: 14px;
                width: 100%;
                bottom: -30px;
                > span {
                    flex-grow: 1;
                }
            }
        }
    }
    .graveyard {
        height: 25px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        > div {
            height: 100%;
            svg {
                height: 100%;
                width: auto;
            }
        }
    }
}

.copied {
    padding: 14px;
    width: 50%;
    text-align: center;
    pointer-events: none;
    background: #5454ec;
    border-radius: 20px;
    color: #fff;
    position: absolute;
    bottom: 30%;
    opacity: 0;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 0 0 10px darken($white, 80%);
    @include transition(0.1s ease-in-out);
    &.active {
        bottom: 50%;
        opacity: 1;
    }
}

.sepia {
    filter: brightness(1.2) sepia(1);
}
@include glow-mixin(glowz-for-light, rgb(255, 255, 255));
@include glow-mixin(glowz-for-dark, rgb(255, 187, 0));

@keyframes linearGradientMove {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}