@import '../../Variables.scss';

.chess-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    .chess {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        max-width: 700px;
        width: 90%;
        border: 8px solid $board-dark;
        box-shadow: -19px 19px 19px darken($board-light, 20%);
        border-radius: 15px;
        &.turn-user {
            .chess-piece:not(.opponent) {
                animation: glow 2s linear infinite;
            }
        }
        &.turn-opponent {
            .opponent {
                animation: glow 2s linear infinite;
            }
        }
    }
    ul {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap; 
       li {
            position: relative;
            flex: 1 0 12%;
            > div {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
            &:before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            &.node {
                @include transition(0.2s ease);
                &#n-A8, &#n-C8, &#n-E8, &#n-G8, &#n-B7, &#n-D7, &#n-F7, &#n-H7,
                &#n-A6, &#n-C6, &#n-E6, &#n-G6, &#n-B5, &#n-D5, &#n-F5, &#n-H5,
                &#n-A4, &#n-C4, &#n-E4, &#n-G4, &#n-B3, &#n-D3, &#n-F3, &#n-H3,
                &#n-A2, &#n-C2, &#n-E2, &#n-G2, &#n-B1, &#n-D1, &#n-F1, &#n-H1 {
                    background-color: $board-light;
                    &:hover {
                        background-color: lighten($board-light, 5%);
                    }
                }
                &#n-B8, &#n-D8, &#n-F8, &#n-H8, &#n-A7, &#n-C7, &#n-E7, &#n-G7,
                &#n-B6, &#n-D6, &#n-F6, &#n-H6, &#n-A5, &#n-C5, &#n-E5, &#n-G5,
                &#n-B4, &#n-D4, &#n-F4, &#n-H4, &#n-A3, &#n-C3, &#n-E3, &#n-G3,
                &#n-B2, &#n-D2, &#n-F2, &#n-H2, &#n-A1, &#n-C1, &#n-E1, &#n-G1 {
                    background-color: $board-dark;
                    &:hover {
                        background-color: lighten($board-dark, 5%);
                    }
                }
                .chess-piece {
                    text-align: center;
                    padding: 15px;
                    box-sizing: border-box;
                    @include transition(0.5s ease-in-out);
                    &:not(.opponent) {
                        cursor: grab;
                    }
                    &.moving {
                        opacity: 0.3;
                    }
                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
                &:first-child {
                    border-top-left-radius: 10px;
                }
                &:last-child {
                    border-bottom-right-radius: 10px;
                }
            }
       }
    }
    // ul.row {
    //     display: flex;
    //     flex-wrap: wrap;
    //     li.node {
    //         position: relative;
    //         flex-grow: 1;
    //         > div {
    //             position: absolute;
    //             top: 0;
    //         }
    //         &:before {
    //             content: "";
    //             display: block;
    //             padding-top: 100%;
    //         }
    //     }
    //     &:nth-child(even) {
    //         li.node {
    //             &:nth-child(even) {
    //                 background-color: $board-light;
    //             }
    //             &:nth-child(odd) {
    //                 background-color: $board-dark;
    //             }
    //         }
    //     }
    //     &:nth-child(odd) {
    //         li.node {
    //             &:nth-child(even) {
    //                 background-color: $board-dark;
    //             }
    //             &:nth-child(odd) {
    //                 background-color: $board-light;
    //             }
    //         }
    //     }
    // }
    .hand {
        display: none;
        position: absolute;
        height: 70px;
        width: 70px;
        top: 0px;
        left: 0px;
        pointer-events: none;
        svg {
            height: 100%;
            width: 100%;
            filter: drop-shadow( 10px 10px 5px rgba(0, 0, 0, .7));
        }
    }
}