@import '../../Variables.scss';

.login-container {
    background-color: $board-light;
    box-shadow: 0 0 200px darken($board-light, 50%) inset;
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    .form-container {
        position: absolute;
        width: 500px;
        height: 600px;
        box-sizing: border-box;
        background: $board-light;
        border: 10px solid $board-dark;
        top: 50%;
        left: 50%;
        border-radius: 20px;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 200px darken($board-light, 20%) inset, -10px 10px 10px darken($board-light, 10%);
        header {
            padding-top: 30px;
            text-align: center;
            .main-title {
                margin: 20px;
                font-size: 35px;
                color: rgb(221, 172, 38);
                font-weight: bold;
                text-shadow:
                    3px 3px 0 #774b28,
                    -1px -1px 0 #774b28,  
                    1px -1px 0 #774b28,
                    -1px 1px 0 #774b28,
                    1px 1px 0 #774b28;
            }
            svg {
                width: 100px;
                height: 100px;
            }
        }
        form {
            text-align: center;
            > * {
                display: block;
                margin: 10px;
                width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
            > label {
                font-size: 15px;
            }
            > input {
                background-color: #e4b085;
                height: 40px;
                border: none;
                padding: 5px 20px;
                box-shadow: 0 0 10px darken(#e4b085, 10%) inset;
                border-radius: 20px;
                box-sizing: border-box;
                color: #e4e4e4;
                &.error {
                    border: 2px solid red;
                }
                &::placeholder {
                    color: darken(#e4b085, 30%);
                }
            }
            button {
                border-radius: 40px;
                border: none;
                margin-top: 30px;
                height: 60px;
                margin-left: auto;
                margin-right: auto;
                box-sizing: border-box;
                background-color: #4a7dad;
                font-weight: bold;
                font-size: 15px;
                cursor: pointer;
                box-shadow: 0 0 24px #4e4e4e inset, 0 2px 3px #4e4e4e;
                color: lighten(#4a7dad, 30%);
                &:hover {
                    box-shadow: 0 0 10px #4e4e4e inset, 0 2px 3px #4e4e4e;
                }
            }
            .form-error {
                color: red;
                font-size: 12px;
            }
        }
        footer {
            text-align: center;
            font-size: 13px;
            position: absolute;
            bottom: -3px;
            background-color: $board-dark;
            padding: 20px;
            width: 100%;
            box-sizing: border-box;
            a {
                display: inline-block;
                text-decoration: none;
                color: $board-light;
                margin: 0 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .login-overlay {
        display: block;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        backdrop-filter: blur(8px);
        z-index: 2;
        text-align: center;
        transition: 0.2s ease-in-out;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
        > div {
            position: relative;
            height: 200px;
            width: 200px;
            top: 50%;
            margin: 0 auto;
            transform: translateY(-50%);
            .orbit {
                height: 150px;
                width: 150px;
                animation: orbit 2s linear infinite;
                position: absolute;
                left: 40px;
                z-index: -1;
            }
            > span {
                color: $board-light;
                font-size: 30px;
                font-weight: bold;
                left: 0;
                text-shadow:
                    3px 3px 0 #774b28,
                    -1px -1px 0 #774b28,  
                    1px -1px 0 #774b28,
                    -1px 1px 0 #774b28,
                    1px 1px 0 #774b28;
            }
            P {
                margin: 20px 0;
                line-height: 1.2;
            }
            > div {
                position: relative;
                width: 150px;
                margin: 20px auto;
                .code-input {
                    font-size: 30px;
                    width: 110px;
                    border: 2px dotted black;
                    border-radius: 20px;
                    background-color: transparent;
                    text-align: center;
                    cursor: pointer;
                }
                svg {
                    position: absolute;
                    right: -15px;
                    height: 25px;
                    top: 7px;
                }
                .copied {
                    padding: 20px;
                    background: #d0ac28;
                    border-radius: 20px;
                    color: #fff;
                    position: absolute;
                    top: 70px;
                    opacity: 0;
                    /* margin: 0 auto; */
                    width: 200px;
                    height: 69px;
                    box-sizing: border-box;
                    left: 50%;
                    transform: translateX(-50%);
                    @include transition(0.1s ease-in-out);
                    &.active {
                        top: 40px;
                        opacity: 1;
                    }
                }
            }
        }
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            position: absolute;
            top: -70px;
            right: -70px;
            &:hover {
                svg {
                    circle {
                        fill:#ec4141 !important; 
                    }
                }
            }
            svg {
                height: 50px;
            }
        }
    }
}