@import '../../Variables.scss';

.login-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    color: $white;
    .form-container {
        position: absolute;
        width: 500px;
        height: 600px;
        box-sizing: border-box;
        background: $board-dark;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        box-shadow: 0 0px 20px darken($board-dark, 20%) inset;
        box-shadow: 0 3px 5px darken($board-dark, 40%);
        header {
            padding-top: 50px;
            margin-bottom: 30px;
            text-align: center;
            box-sizing: border-box;
            .main-title {
                margin: 20px;
                font-size: 35px;
                color: $board-light;
                font-weight: bold;
                text-shadow:
                    3px 3px 0 darken($board-light, 80%),
                    -1px -1px 0 darken($board-light, 80%),  
                    1px -1px 0 darken($board-light, 80%),
                    -1px 1px 0 darken($board-light, 80%),
                    1px 1px 0 darken($board-light, 80%);
            }
            svg {
                width: 100px;
                height: 100px;
            }
        }
        form {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            > * {
                display: block;
                width: 280px;
            }
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 10px;
                label:first-child {
                    font-size: 12px;
                    color: lighten($board-dark, 60%);
                }
            }
            > .form-group:first-child > input {
                background-color: darken($board-dark, 3%);
                height: 50px;
                text-align: center;
                font-size: 15px;
                border: none;
                width: 100%;
                padding: 5px 20px;
                box-shadow: 0 0 25px darken($board-dark, 5%) inset;
                border-radius: 5px;
                box-sizing: border-box;
                color: $board-light;
                &.error {
                    box-shadow: 0 0 10px darken(red, 5%) inset;
                }
                &::placeholder {
                    color: lighten($board-dark, 20%);
                }
            }
            .code-input-container {
                display: flex;
                justify-content: space-between;

                input {
                    background-color: darken($board-dark, 3%);
                    height: 50px;
                    width: 38px;
                    border: none;
                    font-size: 20px;
                    text-align: center;
                    box-shadow: 0 0 25px darken($board-dark, 5%) inset;
                    color: #e4e4e4;
                    padding: 5px 12px;
                    border-radius: 5px;
                    &.error {
                        border: 1px solid red;
                    }
                }
            }
            @keyframes spin {
                from { transform: translate(-50%, -50%) rotate(0deg) }
                to { transform: translate(-50%, -50%) rotate(360deg) }
            }
              
            button {
                position: relative;
                border-radius: 40px;
                border: none;
                margin-top: 40px;
                height: 60px;
                margin-left: auto;
                margin-right: auto;
                box-sizing: border-box;
                background-color: $play-button;
                font-weight: bold;
                font-size: 17px;
                cursor: pointer;
                box-shadow:0 2px 3px darken($play-button, 20%);
                color: lighten($play-button, 30%);
                transition: 0.1s;
                &:before {
                    content: '';
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    border: 5px solid #245482;
                    border-top-color: $play-button;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $play-button;
                    border-radius: 50%;
                    animation: 2s spin infinite linear;
                    z-index: 2;
                    opacity: 0;
                    transition: 0.2;
                }
                &.disabled {
                    width: 60px;
                    &:before {
                        opacity: 1;
                    }
                }
                &:hover {
                    background-color: $board-light;
                    color: $white;
                    margin-top: 35px;
                    box-shadow: 0 0 10px darken($board-light, 40px) inset, 0 5px 10px darken($board-light, 90%);
                }
            }
            .form-error {
                color: red;
                font-size: 12px;
            }
            .form-description {
                font-size: 11px;
                color: lighten($board-dark, 20%);
            }
        }
    }
    .links {
        text-align: center;
        font-size: 13px;
        position: absolute;
        bottom: -70px;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        color: black;
        a {
            display: inline-block;
            text-decoration: none;
            color: black;
            margin: 0 20px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .login-overlay {
        display: block;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        backdrop-filter: blur(8px);
        z-index: 2;
        text-align: center;
        transition: 0.2s ease-in-out;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
        .code-container {
            position: relative;
            width: 400px;
            top: 50%;
            margin: 0 auto;
            transform: translateY(-50%);
            > span {
                color: $board-light;
                font-size: 20px;
                font-weight: bold;
                left: 0;
                text-shadow: 0 0 10px darken($white, 80%);
            }
            p {
                margin: 10px 0;
                line-height: 1.2;
                font-size: 14px;
                text-shadow: 0 0 10px darken($white, 80%);
            }
            > div {
                position: relative;
                width: 250px;
                height: 100px;
                margin: 20px auto;
                display: flex;
                align-items: center;
                .code-input {
                    font-size: 50px;
                    width: 100%;
                    padding-left: 40px;
                    border: 5px dotted $board-light;
                    color: $board-light;
                    border-radius: 20px;
                    background-color: transparent;
                    text-align: center;
                    cursor: pointer;
                }
                svg {
                    position: absolute;
                    left: 20px;
                    height: 40%;
                    pointer-events: none;
                    fill: $board-light;
                }
                .copied {
                    position: absolute;
                    padding: 20px;
                    background: #d0ac28;
                    border-radius: 20px;
                    color: #fff;
                    bottom: 0;
                    opacity: 0;
                    /* margin: 0 auto; */
                    width: 200px;
                    height: 69px;
                    box-sizing: border-box;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    @include transition(0.2s);
                    &.active {
                        bottom: 50%;
                        opacity: 1;
                    }
                }
            }
        }
        button {
            border-radius: 10px;
            border: none;
            margin-top: 20px;
            padding: 15px 20px;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            background-color: lighten($play-button, 10%);
            font-size: 17px;
            cursor: pointer;
            box-shadow:0 0px 10px darken($play-button, 20%);
            color: lighten($play-button, 40%);
            transition: 0.1s;
            &:hover {
                background-color: lighten($play-button, 20%);
                color: $white;
            }
        }
    }
}