/********************************/
/* variables
/********************************/

$brown-bg: #512900;
$teal: teal;
$purple: purple;

$board-light: #fde5d0;
$board-dark: #aa7143;

$chat-main: #aa7143;
$chat-bg: #f1f1f1;
$chat-user-bg: #8b8bee;
$chat-oppo-bg: #84d3b5;
$chat-input-bg: #d6d6d6;
$chat-input-color: black;

/********************************/
/* mixins
/********************************/
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@keyframes rotating {
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

@mixin glow-mixin($name, $color) {
    @keyframes #{$name} {
        0% {
            filter: drop-shadow( 0 0 2px $color);
        }
        50% {
            filter: drop-shadow( 0 0 6px $color);
        }
        100% {
            filter: drop-shadow( 0 0 2px $color);
        }
    }
}

@-webkit-keyframes orbit {
    from { -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-moz-keyframes orbit {
    from { -moz-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-o-keyframes orbit {
    from { -o-transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}